.request{
    background: url(../img/header/fon-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 230px;
}

.request-red-car{
    bottom: -90px;
}

.title-card{
    width: 570px;
    margin-bottom: 75px;
}

.request-blank{
    bottom: -85px;
}

.box-form{
border: 1px solid #D8DADB;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}
.box-form__item{
font-weight: normal;
font-size: 14px;
line-height: 17px;
color:  #D8D8D8;
width: 350px;
border-bottom: 1px solid #D8D8D8;

&:hover{
    border-bottom: 1px solid #D8D8D8;
}
&:focus{
border-bottom: 1px solid #D8D8D8;
}

}

.box-form__btn{
background: #FB620B;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #F9F9F9;
width: 260px;
padding: 20px 0;
margin-top: 40px;
}

.box-form__info{
width: 340px;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #535353;
}

.blank__title{
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-align: center;
margin-bottom: 60px;
}
