.steps{
    margin-bottom: 150px;
    @media (max-width: 992px) {
        margin-bottom: 130px;
    }
    @media (max-width: 768px) {
        margin-bottom: 110px;

    }
    @media (max-width: 576px) {
        margin-bottom: 80px;
    }
}

.steps-title{
   @media (max-width: 768px){
width: 300px;
}
}
.steps__card{
@media (max-width: 1133px){
    &:nth-child(3){
padding-top: 30px;
    }
}
@media (max-width: 768px) {
    margin-bottom: 60px;
    padding: 0 10px;
    &:last-child{
        margin-bottom: 0px;
    }
    &:nth-child(3){
        padding-top: 0px;
    }
}
@media (max-width: 425px) {
    padding: 0px;
}
}

.steps__card--individ{
    @media (max-width: 768px) {
        width: 290px;
    }
}

.steps__card--block{
    position: relative;
    @media (max-width: 768px) {}
}
.steps__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #C6C6C6;
    margin-bottom: 30px;
}
.arrow{
position: absolute;
top: 6px;
right: -40px;
@media (max-width: 1250px){
    right: 59px;
}
@media (max-width: 768px){
    display: none;
}
}
.arrow__line{
    left: -294px;
    position: absolute;
    border: 1px dashed #959595;
    width: 300px;
    top: 8px;
@media (max-width: 1250px){
    width: 210px;
    left: -204px;
}
@media (max-width: 768px){
    display: none;
}
}

.card--block__informaton{

}

.card--block__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #091830;
    margin-bottom: 30px;
    @media (max-width: 768px) {
font-size: 18px;
line-height: 22px;
    }
}

.card--block__one{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
margin-bottom: 44px;
    color: #000000;
    width: 375px;
    @media (max-width: 768px) {
        width: 325px;
    }
    @media (max-width: 700px) {
        width: 288px;
        font-size: 16px;
    }
}

.card--block__two{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    color: #535353;
    width: 300px;
    @media (max-width: 700px) {
        width: 265px;
        font-size: 16px;
    }
}

.card--block__click{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #ED6C33;
   display: flex;
    &:hover{
        color: #ED6C33;

    }
}

.card--block__click span{
    text-decoration: underline;

    // &::before{

    // }
}